@import "color";

.view-header {
  background: $white;
  .header-nav{
    margin-left:80px;
  }
}

.view-footer {
  background: $gray-footer;
  color: $white;
}

.nav-white {
  background: $white;
  a {
    color: $black;
  }
}

