@import "_part/_color";
@import "_part/_var";
@import "_part/_web/_header";
@import "_part/_web/_footer";

.view-layout {

  margin-top: $margin-xs;
  .layout-main {
    overflow: hidden;
    margin: 0 auto;
    min-width: $main-width;
    max-width: $max-main-width;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    .main-content {
      padding: $padding-lg;
      width: 75%;
      float: left;
      display: flex;
      flex-direction: column;
      min-height: 400px;
    }
    .main-aside {
      background: $grey-lighten-4;
      padding: 0 $padding-normal;
      width: 25%;
      float: left;
      .search-wrapper {
        position: relative;
        input {
          transition: box-shadow $transition-timer;
          &:focus {
            + i {
              color: $teal-lighten-1;
            }
          }
        }
        i {
          position: absolute;
          right: 5px;
          top: 15px;
          font-size: 20px;
          transition: 0.25s color;
          cursor: pointer;
        }
      }
      .menu-wrapper {
        .menu-title {
          font-size: $font-size-normal;
          font-weight: bold;
          padding-left: $padding-xs;
          border-left: 3px solid $title-border;
          color: $title-normal;
        }
        .menu-type {
          & > li {
            padding: $padding-xs-3 0 $padding-xs-3 $padding-normal;
            height: 29px;
            overflow: hidden;
            //font-size: $font-size-xs;
            & > span {
              margin-left: $margin-xs-2;
              color: $assist-color;
            }
          }
        }
        .menu-hotlabel {
          a {
            display: inline-block;
            border: 1px solid $assist-border;
            color: $assist-color;
            padding: $padding-xs-2 $padding-xs;
            margin: $margin-xs-2 $margin-xs $margin-xs-2 0;
            font-size: 12px;
            transition: $transition-timer color, $transition-timer background;
            &:hover {
              background: $teal-lighten-1;
              color: $white;
            }
          }
        }
      }
    }
    &.layout-main-simple {
      .main-content {
        flex: 1;
        & > div {
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }

}



