extends layout
block css
    link(rel='stylesheet',href='/css/index.css',async)
    link(rel='stylesheet',href='/css/article/list.css',async)
block content
    div.view-index
        div.row.index-ad
            div.col.s12
                div.grey.lighten-5
                    i.fa.fa-qq
                    i.fa.fa-paper-plane-o
                    i.fa.fa-weibo
                    p One More Change
        div.row.article-list
            div.col.s12
                div.list-title
                    h5 最新文章
            include _part/_article/_list
block javascript
    script(src='/js/index.js')


