@import "../_part/_color";
@import "../_part/_var";

.article-list {
  width: 100%;
  .list-title {
    border-bottom: 2px solid $horizontal-color;
    span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -9px;
        display: inline-block;
        width: 100%;
        height: 3px;
        background: $title-border;
      }
    }
  }
  .list-item {
    border-bottom: 2px solid $horizontal-color;
    padding: $padding-normal 0;
    .item-header {
      width: 100%;
      .item-title {
        font-weight: bolder;
        font-size: 18px;
        color: $title-normal;
        &:hover {
          color: $a-active-color;
        }
      }
      .item-author {
        padding-top: $padding-xs-3;
        color: $assist-color;
        span {
          margin-right: $margin-xs;
        }
      }
    }
    .item-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: $margin-xs;
      .item-main {
        flex: 9;
        padding-top: $padding-xs;
        padding-bottom: $padding-lg-2;
        padding-left: $padding-xs;
        position: relative;
        .item-desc {

          text-align: justify;
          font-size: 14px;
          line-height: 1.75;
          color: $content-color;

        }
        .item-info {
          font-size: 14px;
          color: $assist-color;
          position: absolute;
          width: 100%;
          bottom: 0;
          right: 0;
          span {
            margin-left: $margin-xs;
          }
          div {
            display: inline-block;
            a {
              margin-left: $margin-xs-2;
            }
          }
        }
      }
      .item-right {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .article-wallpic {
          max-width: 100%;
          width: 180px;
          height: 120px;
          overflow: hidden;
          background: rgba(220, 220, 220, 0.3) url('/images/user/headImg.png') center no-repeat;
          background-size: contain;
          //border-radius: 15px;

        }

      }
    }

  }
}

.show-more {
  width: 100%;
  padding: $padding-normal $padding-normal 0;
  text-align: center;
}
