div#viewSwitch.view-switch
    div.switch-main
        div.progress
            div.indeterminate
        button#switchCancel.switch-cancel.btn-flat 返回
script.
    window.onload = function() {
        $("#viewSwitch").removeClass("active");
    }