@import "color";
@import "media";
@import "var";

a {
  display: inline-block;
  color: $a-color;
  transition: color $transition-timer;
  cursor: pointer;
  &:hover {
    //text-decoration: underline;
    color: $a-active-color;
  }
}

p {
  @media #{$medium-only} {
    font-size: 1.15rem;
  }
  @media #{$small-and-down} {
    font-size: 1.25rem;
  }
}