$margin-lg: 30px;
$margin-normal: 20px;
$margin-xs: 12px;
$margin-xs-2: 6px;
$margin-xs-3: 4px;

$padding-lg-3: 80px;
$padding-lg-2: 50px;
$padding-lg: 30px;
$padding-normal: 20px;
$padding-xs: 12px;
$padding-xs-2: 6px;
$padding-xs-3: 4px;
$padding-xs-4: 2px;

$font-size-xs: 12px;
$font-size-normal: 14px;
$font-size-lg: 16px;
$font-size-lg-2: 18px;
$font-size-lg-3: 20px;
$font-size-lg-4: 26px;

$transition-timer: .25s;
$transition-timer-lg: .4s;

//web base cons
$bgImg-login: url(/images/login/bg-3.jpg);
$main-width: 1325px;
$max-main-width: 1500px;
$main-height: 620px;

$user-content-width: 660px;