$margin-lg: 30px;
$margin-normal: 20px;
$margin-xs: 12px;
$margin-xs-2: 6px;
$margin-xs-3: 4px;

$padding-lg-2: 50px;
$padding-lg: 30px;
$padding-normal: 20px;
$padding-xs: 12px;
$padding-xs-2: 6px;
$padding-xs-3: 4px;
$padding-xs-4: 2px;

$font-size-xs: 12px;
$font-size-normal: 14px;
$font-size-lg: 16px;
$font-size-lg-2: 18px;

$transition-timer: .25s;